/* CUSTOM STYLES */
nav {
  width: 100%;
  background-color: #555;
  padding: 10px 0;
}

nav a {
  margin: 10px;
  text-decoration: none;
  font-size: 20px;
  color: chartreuse;
  cursor: pointer;
}

nav a:hover {
  color: hotpink;
}

.footer {
  background-color: #555;
  width: 100%;
  height: 25px;
  position: fixed;
  bottom: 0;
}

.footer-text{
  color: white;
  font-size: 11px;
}

/* DEFAULT STYLES */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.bullet-tasks {
  border: 3px solid black;
  margin-top: 30px;
}

.cell-header {
  text-align: center;
  height: auto;
  border: 1px solid red;
}

.custom-row {
  display: grid;
  grid-template-columns: 1fr repeat(7, 50px);
  width: 100%;
  justify-items: stretch;
}

.cell {
  border: 1px solid red;
  height: 50px;
}

.add-new-form {
  width: 300px;
  height: 300px;
  z-index: 2;
  border: 1px solid black
}

.hidden {
  display: none;
}

